{
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^@angular/(.*)$", "^[a-zA-Z].*$", "^@/.*$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
