:host {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 15px;
  justify-content: center;
  position: relative;
}
.create-user-btn {
  position: absolute;
  width: 300px;
  top: 120%;
  right: 50%;
  transform: translate(50%, 50%);
}
.error {
  color: red;
}
